<div class="navbar-container" id="sideNavbarContainer">
	<div class="wrapper">
		<ul class="nb-navmenu" id="nbNavMenu">
			<li>
				<a href="views/pages/customers.ejs" class="active" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/transaction.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav01 %></span>
				</a>
			</li>
			<li class="d-none">
				<a href="views/pages/facilities.ejs" class="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/facilities.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav02 %></span>
				</a>
			</li>
			<li>
				<a href="views/pages/settings.ejs" class="" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/settings.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav03 %></span>
				</a>
			</li>
			<li>
				<a href="#" class="" data-role="CHECK_FOR_UPDATES_NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/update.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav04 %></span>
				</a>
			</li>
			<li>
				<a href="#" data-role="LOGOUT_NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/logout.png" alt="">
					</span>
					<span class="text"><%= UI_DISPLAY_LANG.views.partials.sidebar.nav05 %></span>
				</a>
			</li>
			<!--
			<li class="nm-dropdown">
				<a href="#" data-role="NAV_LINK">
					<span class="text"></span>
				</a>
				<ul class="nm-dropdown-menu">
					<li>
						<a href="views/pages/absences-register.ejs" data-role="NAV_LINK">
							<span class="text">Absences</span>
						</a>
					</li>
				</ul>
			</li>
			-->
		</ul>
		<div class="copyright">
			<p class="desc"><%= UI_DISPLAY_LANG.views.partials.sidebar.text01 %></p>
			<p class="desc"><%= UI_DISPLAY_LANG.views.partials.sidebar.text02 %></p>
			<small>0699666569</small>
			<br>
			<small>0663650688</small>
		</div>
	</div>
</div>