<%- include('views/partials/header') -%>
<%- include('views/partials/navbar') -%>
<%- include('views/dialogs/dialog-box') -%>
<%- include('views/dialogs/prompt-input-dialog') -%>
<%- include('views/dialogs/prompt-confirm-dialog') -%>
<%- include('views/addons/top-loader') -%>
<div class="main-content-container position-relative" id="MainContentContainer">



</div>
<!-- End Main Container -->
<%- include('views/partials/footer') -%>