<div class="container-fuild" id="facilitiesContainer">
	<div class="wrapper wrapper-p-2">
		<h1 class="title-medium"><%= UI_DISPLAY_LANG.views.pages.facilities.sectionTitle %></h1>
	</div>
	<div class="inner-wrapper mt-4 wrapper-p-2">
		<div class="page-contents-container">
			<div class="data-view-container">
				<div class="container">
					<div class="dv-header">
						<div id="inputsDiv">
							<form action="#" id="searchForFacilitiesForm">
								<div class="row ">
									<div class="col-md">
										<div class="container" style="max-width: 300px;padding: 2em 0;">
											<div class="form-group">
												<label for="FROM_DATE" class="form-label"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.label01 %></label>
												<input type="date" class="input-text" id="FROM_DATE" value="">
											</div>
											<div class="form-group">
												<label for="TO_DATE" class="form-label"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.label02 %></label>
												<input type="date" class="input-text" id="TO_DATE" value="">
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-md">
										<div class="form-group">
											<input type="text" class="input-text" placeholder="REF..." id="REF">
										</div>
									</div>
									<div class="col-md">
										<div class="form-group">
											<input type="text" class="input-text" placeholder="CCP..." id="CCP">
										</div>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-md">
										<div class="form-group">
											<input type="text" class="input-text" placeholder="NOM..." id="NOM">
										</div>
									</div>
									<div class="col-md">
										<div class="form-group">
											<select type="text" class="input-text" id="OPERATION">
												<option value="0"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.select01.option01 %></option>
												<option value="1"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.select01.option02 %></option>
												<option value="2"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.select01.option03 %></option>
												<option value="5"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.select01.option04 %></option>
												<option value="TAX_WITHOUT_WITHDRAW"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.select01.option05 %></option>
												<option value="ALL"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.select01.option06 %></option>
											</select>
										</div>
									</div>
								</div>
								<div class="row mt-3 mb-3">
									<div class="col-md">
										<div class="container"  style="max-width: 300px;">
											<select name="" id="resultsPerPageSelect" class="input-text">
												<option selected=""><%= UI_DISPLAY_LANG.views.pages.facilities.form01.select02.option01 %></option>
												<option value="10">10</option>
												<option value="20">20</option>
												<option value="40">40</option>
												<option value="60">60</option>
												<option value="80">80</option>
												<option value="100">100</option>
												<option value="100">200</option>
												<option value="400">400</option>
												<option value="600">600</option>
												<option value="800">800</option>
												<option value="1000">1000</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row text-center">
									<div class="col-md">
										<button class="btn btn-primary"><%= UI_DISPLAY_LANG.views.pages.facilities.form01.btn01 %></button>
									</div>
								</div>
							</form>
							<div class="row mt-3">
								<div class="col-md ">
									<div class="dropdown">
										<a class="btn btn-secondary dropdown-toggle" style="text-shadow: 1px 1px 1px #8d8d8d;" href="#" role="button" id="exportTableBTN" data-bs-toggle="dropdown" aria-expanded="false">
											<%= UI_DISPLAY_LANG.views.pages.facilities.btn01 %>
										</a>
										<ul class="dropdown-menu " aria-labelledby="exportTableBTN" id="exportFileTypeList">
											<li><a class="dropdown-item" data-role="FILE_TYPE" data-filetype="pdf" href="#">PDF</a></li>
											<li><a class="dropdown-item" data-role="FILE_TYPE" data-filetype="CSV" href="#">CSV</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pagination-div p-2 my-2 text-center" id="pagePagination">
						
					</div>
					<div class="mt-3 mb-3" id="dvcTotalDiv">
						<h2 class="mb-2"><%= UI_DISPLAY_LANG.views.pages.facilities.title01 %></h2>
						<input type="text" id="total" style="max-width: 250px;" class="input-text">
					</div>
					<div id="dvcTableContainer" class="dvc-table-container">
						<div class="table-div mt-4" id="tableDiv" style="max-height: 500px; overflow-y: auto;">
							<table id="facilityTable" class="table table-hover facility-table">
								<thead>
									<tr>
										<td>REF</td>
										<td>CCP</td>
										<td>NOM</td>
										<td>MONTANT</td>
										<td>DATE</td>
										<td>OPERATION</td>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
						<div class="table-keys-div mt-3">
							<h4><%= UI_DISPLAY_LANG.views.pages.facilities.title02 %></h4>
							<div class="row">
								<div class="col-md">
									<div class="key-div">
										<div class="key-color" style="background: #FF3385;"></div>
										<p class="key-name"><%= UI_DISPLAY_LANG.views.pages.facilities.text01 %></p>
									</div>
									<div class="key-div">
										<div class="key-color" style="background: #99FF66;"></div>
										<p class="key-name"><%= UI_DISPLAY_LANG.views.pages.facilities.text02 %></p>
									</div>
								</div>
								<div class="col-md">
									<div class="key-div">
										<div class="key-color" style="background: #262626;"></div>
										<p class="key-name"><%= UI_DISPLAY_LANG.views.pages.facilities.text03 %></p>
									</div>
									<div class="key-div">
										<div class="key-color" style="background: #660000;"></div>
										<p class="key-name"><%= UI_DISPLAY_LANG.views.pages.facilities.text04 %></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>